header button:hover {
    background-color: #ddd;
    outline: none;
}

header button:active {
    background-color: #bbb;
    outline: none;
}

header{
    display: flex;
    width: 100%;;
    height: 50px;
    justify-content: space-between;
}

img {
    max-height : 30px;
    width : auto;
}

header button {
    border: none;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 100%;
    transition: all 0.3s;
    outline: none;
}

#left {
    margin-left: 20px;
    justify-content: left;
}

#home_button img {
    max-height : 60px;
}

#center {
    justify-content: center;
    margin-top: 8px;
}

#center img {
    max-height : 20px;
    width : auto;
}

#search_barre {
    height: 45px;
    width: 500px;
    padding-left: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 3px;
    outline-width: 1px;
    float: left;
}

#search_button {
    height: 45px;
    width: 70px;
    border: 2px solid rgb(102, 102, 102);
    border-radius: 0%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #EEE;
}

#right {
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
}
