#navigation {
    height: 100%;
    width: 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: x-small;
}

#navigation button {
    margin-top: 10px;
    margin-bottom: 10px;
}
#navigation img {
    height: 25px;
    width: 25px;
}